/* Estilos globais */
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;400&display=swap');

body {
    font-family: "Mukta", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
  background-color: #0260c5;
  color: white;
  padding: 5px 0;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.logo img {
  height: 40px;
}

.nav a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
}

.nav a:hover {
  text-decoration: underline;
}

/* Container do Chat */
.chat-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 90%;
    height: 78vh;
    margin: 20px auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

#chat-window {
    flex-grow: 1;
    overflow-y: auto;
    padding-bottom: 20px;
}

/* Bolhas de conversa */
.chat-message {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
    max-width: 80%;
}

.user-message {
    justify-content: flex-end;
}

.user-message .message-bubble {
    background-color: #007bff;
    color: white;
    margin-left: auto;
    text-align: right; /* Alinha o texto à direita */
}

.response-message {
    justify-content: flex-start;
}

.response-message .message-bubble {
    background-color: #e0e0e0;
    color: #333;
    margin-right: auto;
    text-align: left; /* Alinha o texto à esquerda */
}

.message-bubble {
    padding: 10px;
    border-radius: 10px;
    font-size: 14px;
    line-height: 1.4;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Formulário de entrada de consulta */
.chat-input {
    display: flex;
    gap: 10px;
}

.chat-input input {
    flex-grow: 1;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.chat-input button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.chat-input button:hover {
    background-color: #0056b3;
}
